<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Find your match</h1>
    <p class="lead">Come on in to view your matchese... You need to sign up though</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg mt-3">Register</button>
      <button class="btn btn-primary btn-lg btn-lg mt-3">Learn more</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
